@page "/"
@using ObjectComparison

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button @onclick="() => CallMe()">Call Me</button>

@code {
	ComparisonTracker<SiteSet> tracker = new ComparisonTracker<SiteSet>(new SiteSet());

	void CallMe()
	{
		tracker.Current.Sites.Add("Hello");

		var hasChanges = tracker.HasChanges();
		Console.WriteLine("Has Changes: " + hasChanges);
	}


}